<h1>Welkom bij het Kerstmenu 2016</h1>

<p>Op zondag 25 december, Eerste Kerstdag, vieren we Kerst gezamenlijk met een diner.</p>
<p>Hier kun je het kerstmenu van zondag 25 december bekijken en zelf samen stellen!</p>
