<h1>Welkom bij het Kerstmenu 2016</h1>

<p>Op zondag 25 december, Eerste Kerstdag, vieren we Kerst gezamenlijk met een diner.</p>

<p>In tegenstelling tot andere jaren, bepaal ik echter niet het volledige menu, maar leveren jullie (hopelijk) een belangrijk aandeel in het samen te stellen menu. Daarvoor is dan ook deze site gemaakt.</p>

<p>Ik heb de vrijheid genomen om een aantal mogelijke gangen te bedenken, maar zoals je kunt zien, zijn de meeste gangen nog leeg: er is nog geen gerecht verzonnen in die categorie. Ik hoop dat jullie de stoute schoenen aantrekken, een (passend) gerecht verzinnen/uitzoeken en bij ons thuis komen klaar maken.</p>
<%= image_tag 'keukenbrigade.jpg', size: "512x400" %>
<p>De keuken en een 'gestoorde' keukenbrigade staan geheel tot jullie beschikking!</p>

<p>Uiteraard hoeft niet elke gang een invulling te krijgen. Als we alles zouden invullen, eindigen we met 6 gangen zonder de amuse en het digestief. Maar we kunnen net zo goed blijven steken bij &eacute;&eacute;n gang (alleen het hoofdgerecht)... De keuze is aan jullie.</p>

<p>Oh ja, een belangrijke disclaimer: deze website is heel erg snel in elkaar gezet en zeker niet zonder fouten. Deze moeten jullie maar op de koop toenemen... Maar als het nu echt even helemaal niet meer werkt, laat het me dan even weten...</p>

<p>Groeten en tot zondag,</p>
<p>Luc en de rest van de keukenbrigade!</p>
